.btn{
    width: 270px;
}
.btn1{
    margin-top:10px;

}

.list-unstyled{
    margin-top:20px ;
    margin-bottom: 70px;
}

.search-results{
    padding:60px;
}
#humidity{
    margin-bottom: 100px;
}

 #five-weather{
    flex-wrap: nowrap;
 }